body.main {
    background-color: lightseagreen;
}
h3.headline {
    text-align: center;
    font-size: 40px;
    color: brown;
}
div.help {
    height: 50px;
    color: blue;
}
p.help {
    color: red;
    font-size: 30px;
}
#hot {
    background-color: orange;
}