@font-face {
    font-family: '휴먼편지체';
    src: url(휴먼편지체.ttf);
}
h1 {
    color: brown;
    text-align: center;
}
hr {
    height: 1px;
    color: black;
}
body {
    background: aliceblue;
}
ul {
    border: 1px dashed black;
}
a {
    text-decoration: none;
}
h2 {
    color: blue;
    text-shadow: 2px 2px 2px skyblue;
}
p {
    font-family: '휴먼편지체';
    font-size: 1em;
    text-indent: 1em;
}
html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}
#wrap {
    min-height: calc(100% - 120px)
}
footer {
    background-color: orange;
    border-radius: 10px;
}