@font-face {
    font-family: '휴먼편지체';
    src: url(휴먼편지체.ttf);
}
h1 {
    color: brown;
    text-align: center;
}
hr {
    height: 1px;
    color: black;
}
body {
    background: aliceblue;
}
ul {
    border: 1px dashed black;
}
a {
    text-decoration: none;
}
h2 {
    color: blue;
    text-shadow: 2px 2px 2px skyblue;
}
p {
    font-family: '휴먼편지체';
    font-size: 1em;
    text-indent: 1em;
}
html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}
#wrap {
    min-height: calc(100% - 120px)
}
footer {
    float: left;
    background-color: purple;
    height: 10%;
    width: 100%;
}
nav {
    float: left;
    height: 25cm;
    width: 20%;
    background-color: orange;
}
section {
    float: right;
    height: 25cm;
    width: 80%;
    background-color: skyblue;
}
header {
    height: 35%;
    width: 100%;
    background-color: yellow;
    float: left;
}